body {
  background-color: #0bd0ff;
}

[data-js] {
  font-family: 'Open Sans';
}

*, *::before, *::after {
  box-sizing: border-box;
}

.site {  
  background-color: #fcfcfc;
  border-radius:6px;
  border: solid 1px #ddd;
  
  margin:15px;
  padding: 15px;
}

.card-header-details .icon::before {
	position: relative;
  right: 7px;
  top: 1px;
}

.App-intro {
  font-size: large;
}
.tituloLogo {
  color:#0bd0ff;
  margin-top: -3px;
  margin-left: 100px;
  display: block;
  font-family: 'Open Sans';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.active {
  color: orange;
}

nav {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5500ff;
}

.bm-menu-wrap {
  height: 100% !important;
  margin-left: 15px;
  border: 1px solid #bdc3c7;
  border-top-left-radius: 6px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  /*background: rgba(0, 0, 0, 0.3);*/
}


/* layout */
.container-box {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer'
  ;
}

.box {
  /*background-color: #9009A0;*/
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*
    red: #E73F3F
    orange: #F76C27
    yellow: #E7E737
    blue: #6D9DD1
    purple: #7E45D3
*/