body {
  background-color: #0bd0ff;
}

[data-js] {
  font-family: 'Open Sans';
}

*, *::before, *::after {
  box-sizing: border-box;
}

.site {  
  background-color: #fcfcfc;
  border-radius:6px;
  border: solid 1px #ddd;
  
  margin:15px;
  padding: 15px;
}

.cardAlimento {
  padding-bottom: 20px;
}

footer {
  background: #343a40;
  padding: 40px;
}
footer a {
  color: #f8f9fa!important
}

a.active {
  color: orange;
}

/* layout */
.container-box {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'aside main main'
    'footer footer footer'
  ;
}

.box {
  /*background-color: #9009A0;*/
}

header {
  grid-area: header;
  padding: 20px 0px;
}

nav {
  grid-area: nav;
  margin-bottom: 20px;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  margin-top: 20px;
}


/*
    red: #E73F3F
    orange: #F76C27
    yellow: #E7E737
    blue: #6D9DD1
    purple: #7E45D3
*/


/*
<div className="loading-notice apploading" id="apploading" role="alert">
            <div className="wrapper">
                <div className="spinner">
                    <div className="rect1"></div>
                    <div className="rect2"></div>
                    <div className="rect3"></div>
                    <div className="rect4"></div>
                    <div className="rect5"></div>
                </div>
                <p className="loading-text">Loading</p>
            </div>
          </div>
          

.loading-notice{position:absolute;top:0;right:0;bottom:0;z-index:99;margin:0 auto;width:calc(100% - 305px);height:100%;text-align:center}
.loading-notice .wrapper{position:relative;top:50%;transform:translateY(-50%);margin:0 auto;border-radius:10px;background-color:#dde5ee;padding:20px;width:140px}
.loading-notice.apploading{left:0;width:100%}
.loading-notice .loading-text{margin-bottom:0;text-transform:uppercase;letter-spacing:2px;color:#263648;font-weight:300}
.loading-notice .spinner{margin:0 auto 10px;width:50px;height:40px;text-align:center;font-size:10px}
.loading-notice .spinner>div{display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;animation:stretchdelay 1.2s infinite ease-in-out;margin-left:3px;border-radius:50px;background-color:#00bd9c;width:6px;height:100%}
.loading-notice .spinner>div:first-child{margin-left:0}
.loading-notice .spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.loading-notice .spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}
.loading-notice .spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.loading-notice .spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}
@-webkit-keyframes stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}
@keyframes stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}20%{-webkit-transform:scaleY(1);transform:scaleY(1)}}

*/